# Arquivos de ambiente (CRÍTICO - nunca commitar!)
.env
.env.local
.env.production
.env.staging

# Arquivos de configuração sensíveis
application-prod.properties
application-staging.properties

roadmap-backend.md

# Logs
*.log
logs/

# Arquivos temporários
*.tmp
*.temp

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws

database-setup.sql

# Maven
target/
.mvn/
mvnw
mvnw.cmd
compose.yaml

# Sistema
.DS_Store
Thumbs.db

# Arquivos de backup
*.bak
*.backup
